body {
  font-family: sans-serif;
  background: #f5e9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#firstTimeBox {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 320px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #b66dff;
  color: white;
  border: none;
  border-radius: 8px;
}
